@import "~@angular/material/theming";

@mixin pop-store-card($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-store-card {
    .store-card {
      background-color: mat-color($background, card);
    }
  }
}
