.front-layout {
  display: grid;
  grid-template-columns: 1fr 2.5fr;

  gap: 1em;
  padding: 1rem;

  .main-banner {
    position: sticky;
    top: 6.5rem;
  }

  .category-section {
    grid-column: span 2;

    .separator {
      width: 20vw;
      height: 0.2rem;
      background-image: linear-gradient(to right, red, rgba(0, 0, 0, 0));
      margin-bottom: 1em;
    }

    .products {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      gap: 1rem;

      justify-items: center;
    }
  }

  @media only screen and (max-width: 1000px) {
    grid-template-columns: 100%;

    .category-section {
      grid-column: span 1;
    }
    app-mega-menu {
      display: none;
    }
  }
}
