@import "~@angular/material/theming";
@import "../variables";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pop-app-primary: mat-palette($pop-purple);
$pop-app-accent: mat-palette($pop-mauve, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pop-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$pop-default-light-theme: mat-light-theme(
  $pop-app-primary,
  $pop-app-accent,
  $pop-app-warn
);
