<div class="query-container">
  <div class="filter-button">
    <button matRipple class="btn btn-sm" type="button">
      <fa-icon class="prefix" [icon]="['fas', 'sliders-h']"></fa-icon>
      Filter
    </button>
  </div>
</div>

<ng-container *ngIf="loading">
  <div class="loading-container">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ng-container>

<div class="product-grid">
  <ng-container *ngFor="let product of products">
    <app-product-card [product]="product"></app-product-card>
  </ng-container>
</div>
