<header #nav class="navbar">
  <div class="limiter">
    <div routerLink="/" class="logo"></div>
    <div class="search">
      <fa-icon class="prefix" [icon]="['fas', 'search']"></fa-icon>
      <form style="width: 100%;" (ngSubmit)="submitSearch()">
        <label class="offscreen" for="search">Search</label>
        <input
          [(ngModel)]="searchValue"
          type="text"
          id="search"
          name="search"
          placeholder="Find Products"
        />
        <button [hidden]="true" type="submit"></button>
      </form>

      <button
        [ngStyle]="{ display: !searchValue ? 'none' : '' }"
        (click)="searchValue = ''"
        matRipple
        class="btn suffix"
      >
        <fa-icon [icon]="['fas', 'times']"></fa-icon>
      </button>
    </div>
    <app-hamburger-menu
      [reference]="nav"
      [items]="menuItems"
    ></app-hamburger-menu>
    <div class="button-group">
      <button
        aria-label="Search Products"
        class="btn icon-only search-button"
        matRipple
      >
        <fa-icon [icon]="['fas', 'search']"></fa-icon>
      </button>
      <app-dark-toggle *ngIf="!loggedIn"></app-dark-toggle>
      <app-favorite-button></app-favorite-button>
      <app-cart-button></app-cart-button>
    </div>

    <div *ngIf="loggedIn" class="user-menu">
      <app-user-menu></app-user-menu>
    </div>
  </div>
</header>
