.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;

  cursor: pointer;

  .profile-image {
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .username {
    padding: 0 0.5rem;
  }
}
