<div
  matRipple
  [matRippleRadius]="20"
  [matRippleUnbounded]="true"
  class="container"
  (click)="openMenu()"
  #reference
>
  <div
    class="profile-image"
    [ngStyle]="{
      backgroundImage:
        'url(' + (profileImage?.imageUrl || 'assets/images/user.svg') + ')'
    }"
  ></div>
  <span class="username">{{ username }}</span>
  <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
</div>

<app-drop-down #menu [reference]="reference">
  <app-drop-down-item [icon]="['fas', 'clipboard-list']">
    My Account
  </app-drop-down-item>
  <app-drop-down-item
    (click)="toggleDarkMode()"
    [icon]="['fas', theme.darkMode ? 'moon' : 'sun']"
  >
    Toggle Dark Mode
  </app-drop-down-item>
  <app-drop-down-item [divider]="true"></app-drop-down-item>
  <app-drop-down-item (click)="logout()" [icon]="['fas', 'sign-out-alt']">
    Logout
  </app-drop-down-item>
</app-drop-down>
