$pop-purple: (
  50: #ece8fc,
  100: #d0c5f9,
  200: #b19ef5,
  300: #9177f0,
  400: #7a59ed,
  500: #623cea,
  600: #5a36e7,
  700: #502ee4,
  800: #4627e1,
  900: #341adb,
  A100: #ffffff,
  A200: #dfdbff,
  A400: #b2a8ff,
  A700: #9c8fff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$pop-mauve: (
  50: #f4e4e4,
  100: #e3bbbb,
  200: #d08d8d,
  300: #bd5f5f,
  400: #af3d3d,
  500: #a11b1b,
  600: #991818,
  700: #8f1414,
  800: #851010,
  900: #740808,
  A100: #ffa4a4,
  A200: #ff7171,
  A400: #ff3e3e,
  A700: #ff2525,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);
